In [ ]:
Day-3: Introduction to Python Fundamentals

In [ ]:
Understanding the variables in python:
variables are the position holders, it is use to store data

In [2]:
a = 3
b = 5

In [3]:
c = a + b
print(c)

8

In [ ]:
Rules for declaring the variables in python:
    Rule 1: No Namespaces for declaring the variable name.
    Rule 2: Variable name should not start with a number **(Interview question) we can use number anywhere in the name of the variable but not in the start of the variable name
    Rule 3: Variable name should not contain any special character

In [29]:
# Invalid Variable names : 

Full name = "John Smith"
1name = "Peter"
1_name = "John"
_name = "Carry"
@name = "Tom"

SyntaxError: invalid decimal literal (2643505585.py, line 4)

In [28]:
# Valid Variable Names:

Full_name = "John Smith"
print(Full_name)
name1 = "Peter"
print(name1)
name_1 = "Carry"
print(name_1)

John Smith
Peter
Carry

In [ ]:
Introduction to Data Types in Python:

    1. Strings ===> str
    2. Numbers ===> integer --> int , floats -->(decimal numbers)
    3. Lists
    4. Tuples
    5. Dictionary ===> dict

In [ ]:
Classification of datatypes: 
datatypes are classified into two categories:
    1. Mutable datatypes --> which can be changed and modified
    2. Immutable datatypes --> which cannot be changed nor modified

In [ ]:
Intro to String datatypes: A string is a series of characters declared in quotes.
    It is classified as an immutable datatype

how to declare a string:
1. single quote 
2. double quote

In [23]:
Greet = "Hello World!"
print(Greet)

Hello World!

In [25]:
topic = 'Introduction to Python Fundamentals!!'
print(topic)

Introduction to Python Fundamentals!!